### 1. Importing required packages

In [26]:
import pandas as pd

### 2. Getting and Exlporing the data

In [27]:
training_data = pd.read_csv("train.csv")

In [28]:
training_data.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [29]:
training_data.describe(include="all")

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209,4209,4209,4209,4209,4209,4209,4209,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
unique,NaN,NaN,47,27,44,7,4,29,12,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,z,aa,as,c,d,w,g,j,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,360,833,1659,1942,4205,231,1042,277,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,4205.960798,100.669318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [30]:
training_data.info

<bound method DataFrame.info of         ID       y  X0 X1  X2 X3 X4  X5 X6 X8  ...  X375  X376  X377  X378  \
0        0  130.81   k  v  at  a  d   u  j  o  ...     0     0     1     0
1        6   88.53   k  t  av  e  d   y  l  o  ...     1     0     0     0
2        7   76.26  az  w   n  c  d   x  j  x  ...     0     0     0     0
3        9   80.62  az  t   n  f  d   x  l  e  ...     0     0     0     0
4       13   78.02  az  v   n  f  d   h  d  n  ...     0     0     0     0
...    ...     ...  .. ..  .. .. ..  .. .. ..  ...   ...   ...   ...   ...
4204  8405  107.39  ak  s  as  c  d  aa  d  q  ...     1     0     0     0
4205  8406  108.77   j  o   t  d  d  aa  h  h  ...     0     1     0     0
4206  8412  109.22  ak  v   r  a  d  aa  g  e  ...     0     0     1     0
4207  8415   87.48  al  r   e  f  d  aa  l  u  ...     0     0     0     0
4208  8417  110.85   z  r  ae  c  d  aa  g  w  ...     1     0     0     0

      X379  X380  X382  X383  X384  X385
0        0     0     0     0     0     0
1        0     0     0     0     0     0
2        0     0     1     0     0     0
3        0     0     0     0     0     0
4        0     0     0     0     0     0
...    ...   ...   ...   ...   ...   ...
4204     0     0     0     0     0     0
4205     0     0     0     0     0     0
4206     0     0     0     0     0     0
4207     0     0     0     0     0     0
4208     0     0     0     0     0     0

[4209 rows x 378 columns]>

### 3. Splitting the training data into features and labels as X and y respectively

In [31]:
X = training_data.drop('y', axis=1)
y = training_data['y']

### Apply the label encoding on features

In [32]:
from sklearn.preprocessing import LabelEncoder
X = X.apply(LabelEncoder().fit_transform)
X

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,32,23,17,0,3,24,9,14,0,...,0,0,1,0,0,0,0,0,0,0
1,1,32,21,19,4,3,28,11,14,0,...,1,0,0,0,0,0,0,0,0,0
2,2,20,24,34,2,3,27,9,23,0,...,0,0,0,0,0,0,1,0,0,0
3,3,20,21,34,5,3,27,11,4,0,...,0,0,0,0,0,0,0,0,0,0
4,4,20,23,34,5,3,12,3,13,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,4204,8,20,16,2,3,0,3,16,0,...,1,0,0,0,0,0,0,0,0,0
4205,4205,31,16,40,3,3,0,7,7,0,...,0,1,0,0,0,0,0,0,0,0
4206,4206,8,23,38,0,3,0,6,4,0,...,0,0,1,0,0,0,0,0,0,0
4207,4207,9,19,25,5,3,0,11,20,0,...,0,0,0,0,0,0,0,0,0,0
4208,4208,46,19,3,2,3,0,6,22,0,...,1,0,0,0,0,0,0,0,0,0

### 4. Find the features which has zero variance and remove it

In [33]:
print("shape of X before removing zero variance features ", X.shape)
X = X.loc[:, (X != X.iloc[0]).any()]
print("shape of X after removing zero variance features ", X.shape)

shape of X before removing zero variance features  (4209, 377)
shape of X after removing zero variance features  (4209, 365)

### 5. Check if there are any null values/unique values

In [34]:
X.isna().sum()

ID      0
X0      0
X1      0
X2      0
X3      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 365, dtype: int64

In [35]:
X.nunique

<bound method DataFrame.nunique of         ID  X0  X1  X2  X3  X4  X5  X6  X8  X10  ...  X375  X376  X377  X378  \
0        0  32  23  17   0   3  24   9  14    0  ...     0     0     1     0
1        1  32  21  19   4   3  28  11  14    0  ...     1     0     0     0
2        2  20  24  34   2   3  27   9  23    0  ...     0     0     0     0
3        3  20  21  34   5   3  27  11   4    0  ...     0     0     0     0
4        4  20  23  34   5   3  12   3  13    0  ...     0     0     0     0
...    ...  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...   ...   ...   ...   ...
4204  4204   8  20  16   2   3   0   3  16    0  ...     1     0     0     0
4205  4205  31  16  40   3   3   0   7   7    0  ...     0     1     0     0
4206  4206   8  23  38   0   3   0   6   4    0  ...     0     0     1     0
4207  4207   9  19  25   5   3   0  11  20    0  ...     0     0     0     0
4208  4208  46  19   3   2   3   0   6  22    0  ...     1     0     0     0

      X379  X380  X382  X383  X384  X385
0        0     0     0     0     0     0
1        0     0     0     0     0     0
2        0     0     1     0     0     0
3        0     0     0     0     0     0
4        0     0     0     0     0     0
...    ...   ...   ...   ...   ...   ...
4204     0     0     0     0     0     0
4205     0     0     0     0     0     0
4206     0     0     0     0     0     0
4207     0     0     0     0     0     0
4208     0     0     0     0     0     0

[4209 rows x 365 columns]>

### 6. Splitting the data for training into train and test

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size =0.3)

## 7. Perform dimensionality reduction

### Standardizing data

In [37]:
from sklearn.preprocessing import StandardScaler 

sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [38]:
from sklearn.decomposition import PCA
pca = PCA()

X_train_pca = pca.fit_transform(X_train)
X_test_pca = pca.fit_transform(X_test)

In [39]:
pca.explained_variance_ratio_

array([7.79034615e-02, 6.18816929e-02, 4.97502442e-02, 3.89410140e-02,
       3.58042786e-02, 3.49231592e-02, 3.15899130e-02, 2.30837984e-02,
       2.09259839e-02, 1.96483635e-02, 1.86283315e-02, 1.74775609e-02,
       1.67967285e-02, 1.54011052e-02, 1.40981878e-02, 1.37446257e-02,
       1.34090229e-02, 1.29110402e-02, 1.17841029e-02, 1.13443465e-02,
       1.09184336e-02, 1.01790035e-02, 1.00320692e-02, 9.40590217e-03,
       9.09661008e-03, 8.87169592e-03, 8.25200046e-03, 7.89260811e-03,
       7.64296167e-03, 7.61091948e-03, 7.23248939e-03, 7.06570586e-03,
       6.89425461e-03, 6.78711151e-03, 6.57985360e-03, 6.43883470e-03,
       6.29151628e-03, 6.11428658e-03, 6.07652629e-03, 5.90968377e-03,
       5.83361642e-03, 5.65967138e-03, 5.62744903e-03, 5.42643269e-03,
       5.42030366e-03, 5.30529623e-03, 5.18942615e-03, 5.02703304e-03,
       4.86437358e-03, 4.80578023e-03, 4.70887778e-03, 4.68417990e-03,
       4.57686530e-03, 4.44002148e-03, 4.38135837e-03, 4.25043664e-03,
       4.20591620e-03, 4.08238970e-03, 4.00721251e-03, 3.90475085e-03,
       3.85572411e-03, 3.80546871e-03, 3.75315838e-03, 3.69453018e-03,
       3.66986856e-03, 3.61890012e-03, 3.49256177e-03, 3.46945921e-03,
       3.44541196e-03, 3.36607518e-03, 3.34221988e-03, 3.30150010e-03,
       3.25378529e-03, 3.22150278e-03, 3.19663400e-03, 3.19209803e-03,
       3.13461416e-03, 3.11150861e-03, 3.09456013e-03, 3.05292131e-03,
       3.01975728e-03, 2.92505882e-03, 2.91746143e-03, 2.87514174e-03,
       2.83904750e-03, 2.77996099e-03, 2.76706775e-03, 2.74048708e-03,
       2.67552110e-03, 2.61027578e-03, 2.59165986e-03, 2.56662862e-03,
       2.53140129e-03, 2.49547681e-03, 2.43245737e-03, 2.39335927e-03,
       2.34345719e-03, 2.29256819e-03, 2.23772803e-03, 2.21154403e-03,
       2.17348391e-03, 2.15125546e-03, 2.13484576e-03, 2.06182387e-03,
       2.05836289e-03, 2.02511162e-03, 1.97286636e-03, 1.92235852e-03,
       1.89849432e-03, 1.78797641e-03, 1.76171105e-03, 1.75103421e-03,
       1.70359618e-03, 1.65012875e-03, 1.61451916e-03, 1.61171970e-03,
       1.58328513e-03, 1.55586343e-03, 1.51203504e-03, 1.48712939e-03,
       1.46310537e-03, 1.44161952e-03, 1.40074264e-03, 1.36770933e-03,
       1.34259229e-03, 1.33524375e-03, 1.28028664e-03, 1.26411590e-03,
       1.21973190e-03, 1.21404743e-03, 1.16771989e-03, 1.16011825e-03,
       1.11625966e-03, 1.10067443e-03, 1.04279966e-03, 1.03136706e-03,
       1.00892819e-03, 9.93111040e-04, 9.71839059e-04, 9.61937736e-04,
       9.44548918e-04, 8.90775356e-04, 8.82213147e-04, 8.57917412e-04,
       8.38825750e-04, 8.08739975e-04, 7.92298196e-04, 7.79383046e-04,
       7.54234760e-04, 7.47500028e-04, 7.28134954e-04, 7.16913222e-04,
       7.03597471e-04, 6.89075224e-04, 6.78419917e-04, 6.61614213e-04,
       6.31118014e-04, 5.97544906e-04, 5.85980535e-04, 5.54658433e-04,
       5.32732335e-04, 5.15120984e-04, 4.94354501e-04, 4.88726089e-04,
       4.71012201e-04, 4.51271839e-04, 4.43998454e-04, 4.33794551e-04,
       4.28376601e-04, 4.05575655e-04, 3.86051100e-04, 3.75510404e-04,
       3.65121326e-04, 3.59137579e-04, 3.52912431e-04, 3.49081357e-04,
       3.23639194e-04, 3.16236900e-04, 3.10169085e-04, 2.91640299e-04,
       2.70677210e-04, 2.69608222e-04, 2.63051362e-04, 2.54754109e-04,
       2.34927475e-04, 2.29596445e-04, 2.13032759e-04, 2.08745636e-04,
       2.02469354e-04, 1.87193609e-04, 1.82948921e-04, 1.70544002e-04,
       1.62352583e-04, 1.53264175e-04, 1.48559948e-04, 1.28077174e-04,
       1.23589200e-04, 1.20817675e-04, 1.14439468e-04, 1.10652409e-04,
       1.03048250e-04, 9.48413784e-05, 9.22193041e-05, 7.66785231e-05,
       7.12430210e-05, 6.67916453e-05, 5.55712249e-05, 4.94359020e-05,
       4.47553422e-05, 4.18900971e-05, 3.46092165e-05, 3.23981712e-05,
       2.95851447e-05, 2.79517916e-05, 2.48511351e-05, 2.17691788e-05,
       1.95948149e-05, 1.89461316e-05, 1.32085759e-05, 1.18970746e-05,
       7.61705628e-06, 6.89035724e-06, 6.01610818e-06, 1.53637488e-32,
       1.94233207e-33, 1.72149695e-33, 1.53917681e-33, 1.46223126e-33,
       1.43307273e-33, 1.34650692e-33, 1.21603958e-33, 1.14767328e-33,
       9.97569999e-34, 9.72408522e-34, 8.58742608e-34, 8.46826797e-34,
       8.28485205e-34, 7.86980191e-34, 7.78191356e-34, 6.45039842e-34,
       6.00498514e-34, 5.19453222e-34, 4.10979092e-34, 3.37334433e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.85628890e-34, 2.85628890e-34, 2.85628890e-34,
       2.85628890e-34, 2.79991021e-34, 2.75518388e-34, 2.02375471e-34,
       1.37922522e-34, 1.20036470e-34, 1.13729048e-34, 1.11251753e-34,
       1.10274206e-34, 1.03666984e-34, 9.60159641e-35, 4.17500268e-35,
       7.48261391e-36])

In [40]:
pca = PCA(n_components=300)

X_train_pca = pca.fit_transform(X_train)
X_test_pca = pca.fit_transform(X_test)

### 8. Build and test using XGBoost

In [41]:
import xgboost as xgb

In [42]:
#change the data to a Dmatrix 
D_train  = xgb.DMatrix(X_train_pca, label = y_train)
D_test = xgb.DMatrix(X_test_pca, label = y_test)

In [43]:
param = {
       'eta' : 0.3,
    'max_depth' : 2
}

In [44]:
model = xgb.train(param, D_train, 21)

In [45]:
y_pred = model.predict(D_test)

### 9. Checking the accuracy of the model

In [46]:
from sklearn.metrics import mean_squared_error
import numpy as np
print('RMSE value of testing dataset is:')
print(np.sqrt(mean_squared_error(y_test, y_pred)))

RMSE value of testing dataset is:
11.368819791654817

### 10. Preparing data to be tested

In [47]:
# get the unseen test data
unseen_data = pd.read_csv("test.csv")
#Applying label encoding
unseen_data = unseen_data.apply(LabelEncoder().fit_transform)
# standardizing the data
unseen_data = sc.fit_transform(unseen_data)
# fit the test data to PCA model
unseen_data_pca = pca.fit_transform(unseen_data)
# change the data to a D-matrix
D_unseen_data = xgb. DMatrix(unseen_data_pca)
# predicting the unseen data
y_pred_unseen_data = model.predict(D_unseen_data)
y_pred_unseen_data

array([ 86.047714,  96.38676 ,  80.0563  , ..., 104.71497 ,  98.908516,
        94.56091 ], dtype=float32)

### 11. Create a pickle file for model deployment using flask

In [49]:
import pickle

In [50]:
pickle.dump(model, open('model.pkl','wb'))